<section id="content">
	<div class="container">
		<section class="cf">

      <div class="grid_2_2">
  		<!-- Carousel Slideshow-->
  		<div id="myCarousel" class="carousel slide">
  		  <!-- Carousel items -->
  			<div class="carousel-inner">
  				<div class="active item"><%= link_to :action => :services do %><%= image_tag 'carousel/whatwedo.png' %><% end %></div>
  				<div class="item"><%= link_to :action => :gallery do %><%= image_tag 'carousel/gallery.png' %><% end %></div>
  				<div class="item"><%= image_tag 'carousel/contact.png', :alt => 'Web Design Tampa' %></div>
  				<div class="item"><a href="http://atyourservicedesigns.logomall.com/default.aspx"><%= image_tag 'carousel/apparel.png', :alt => 'Website Design Tampa' %></a></div>
  			</div>
  		  <!-- Carousel nav -->
  		  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  		  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  		</div>
  		<!-- End Carousel Slideshow-->
  		</div>


      <div class="grid_2">
    		<div class="content-pad-right">
    		  <h1 class="center">We would love to hear from you!</h1>
    		    <p class="center">Give us a call at (813)-973-0468 and we can get the ball rolling on your custom t-shirts, jackets, logo, embroidery, and much more!</p>
        		<p class="center">Or send us your logo, ask for a free quote or get a few questions answered at: <span class="bold">AYSD@verizon.net</span></p>
        		<div class="center"><h2 class="paddr">We Are Conveniently Located in New Tampa</h2></div>
    		</div>
    	</div>


    	<div class="grid_1 grid_right center brownBg">
    	  <h1 class="center">Services</h1>
    	    <h3 class="center paddr">Transfers</h3>
    	    <h3 class="center paddr">Embroidery</h3>
    	    <h3 class="center paddr">Rhinestones</h3>
    	    <h3 class="center paddr">Custom Decorated Apparel</h3>
    	</div>
    	</section>
	
	</div>
</section>