<section id="content">
	<div class="container">
		
		<section class="cf">
		<div class="grid_full">
			<div class="content-pad-right">
			<h2>Some of Our Recent Works</h2>
				<!--right-->
			<div class="grid_1 grid_right">
				<%= image_tag 'gallerypics/thumbs/alybullaholicthumb.jpg', :alt => 'Web Design Tampa' %>
				<%= image_tag 'gallerypics/thumbs/fialybullsthumb.jpg', :alt => 'Web Design Tampa' %>
				<%= image_tag 'gallerypics/thumbs/alymerrychristmasthumb.jpg', :alt => 'Web Design Tampa' %>
				<%= image_tag 'gallerypics/thumbs/funinthesunthumb.png', :alt => 'Web Design Tampa' %>
				<%= image_tag 'gallerypics/thumbs/groupbullsgatorsthumb.jpg', :alt => 'Web Design Tampa' %>
				<%= image_tag 'gallerypics/thumbs/groupmytinithumb.jpg', :alt => 'Web Design Tampa' %>
			</div>
			<!--left-->
			<div class="grid_1" style="clear:left">
				<%= image_tag 'gallerypics/thumbs/enjoygroupthumb.jpg', :alt => 'Web Design Tampa' %>
				<%= image_tag 'gallerypics/thumbs/alyericafallthumb.jpg', :alt => 'Web Design Tampa' %>
				<%= image_tag 'gallerypics/thumbs/fiwildcatthumb.jpg', :alt => 'Web Design Tampa' %>
				<%= image_tag 'gallerypics/thumbs/ericawildcatsthumb.jpg', :alt => 'Web Design Tampa' %>
				<%= image_tag 'gallerypics/thumbs/seniortransferthumb.jpg', :alt => 'Web Design Tampa' %>
				<%= image_tag 'gallerypics/thumbs/ilovegolfthumb.jpg', :alt => 'Web Design Tampa' %>
				
				
			</div>
			<!--mid-->
			<div class="grid_1">
				<%= image_tag 'gallerypics/thumbs/britericathumb.jpg', :alt => 'Web Design Tampa' %>
				<%= image_tag 'gallerypics/thumbs/softballmomthumb.jpg', :alt => 'Web Design Tampa' %>
				<%= image_tag 'gallerypics/thumbs/brittwildcatsthumb.jpg', :alt => 'Web Design Tampa' %>
				<%= image_tag 'gallerypics/thumbs/ilovemydogthumb.jpg', :alt => 'Web Design Tampa' %>
				<%= image_tag 'gallerypics/thumbs/alywildcatsthumb.jpg', :alt => 'Web Design Tampa' %>
				<%= image_tag 'gallerypics/thumbs/ericayellowthumb.jpg', :alt => 'Web Design Tampa' %>
				<%= image_tag 'gallerypics/thumbs/britfisantathumb.jpg', :alt => 'Web Design Tampa' %>
			</div>	
			</div>
		</div>
		</section>
		
	</div>
</section>