<section id="content">
	<div class="container">
		<section class="cf">

		<div class="grid_2_2">
		<!-- Carousel Slideshow-->
		<div id="myCarousel" class="carousel slide">
		  <!-- Carousel items -->
			<div class="carousel-inner">
				<div class="active item"><%= image_tag 'carousel/whatwedo.png' %></div>
				<div class="item"><%= link_to :action => :packages do %><%= image_tag 'carousel/gallery.png' %><% end %></div>
				<div class="item"><%= image_tag 'carousel/contact.png', :alt => 'Web Design Tampa' %></div>
				<div class="item"><%= image_tag 'carousel/apparel.png', :alt => 'Website Design Tampa' %></div>
			</div>
		  <!-- Carousel nav -->
		  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div>
		<!-- End Carousel Slideshow-->
		</div>
		
		
		<div class="grid_2">
			<div class="content-pad-right">
			<h2>Welcome to At Your Service Designs</h2>
				<p>We are a custom embroidery and decorated apparel company and an old fashioned sort of business, we strive to give great customer service and to be truly "At Your Service."</p>
			<h2>Need something unique just for your group or company?</h2>
			  <p class="logoText">How about a logo? Send us a drawing or an image and we can create a custom logo for you.</p>
				<p>Send us your artwork and ideas in JPEG format and we can turn it into a great customized design using EMBROIDERY, RHINESTONES or SCREEN-PRINTED transfers!</p>
        <hr class="servicesDiv">
        <h3 class="center">This logo was turned into a embroidered design!</h3>
        
				
			<div class="center redBorder"><%= image_tag 'logotoemb.gif', :alt => 'Web Design Tampa' %></div>
			</div>
		</div>
		
		
		<div class="grid_1 grid_right center brownBg">
			<h2>Have any questions?</h2>
			<p>Contact us by phone at: (813)-973-0468</p>
			<p>Or by e-mail at: AYSD@verizon.net</p>
			<div class="center"><h2 class="paddr">We Are Conveniently Located in New Tampa</h2></div>
		</div>
		</section>
		
	</div>
</section>