<section id="content">
	<div class="container">
		
		<section class="cf">
		<div class="grid_full">
			<div class="content-pad-right">
			<h1 class="paddingTop">What We Do</h1>
			<h2 class="marged">Embroidery</h2>
			  <p class="centerIt"><%= image_tag 'whatwedo/embroidery.png', :alt => 'Web Design Tampa' %></p>
				<p>Embroidery uses rich colorful thread sewn onto a wide variety of materials. This is a great option for Business & Group logos, Monogramming and Team Apparel. </p>
        <p class="bolding">Easily applied to Polo's, Dress Shirts, Hats, Sheets, Towels, Blankets & much more.</p> 
        <p>When set-up and digitizing of your logo is completed we will apply your design in-house to be sure you have a professional look! Color matching of your company colors is easy</p>
				<hr class="servicesDiv">
				
			  <h2 class="marged">Rhinestones</h2>
  			  <p class="centerIt"><%= image_tag 'whatwedo/rhinestones.png', :alt => 'Web Design Tampa' %></p>
  				<p>We have a large assortment of Rhinestones, Domes and Rhine-Studs that come in many shapes and sizes and colors to create that beautiful bling look that you are after.</p>
          <p>Designs can be custom created using your logo, or choose from many stock designs available. Contact us for more info.</p>
          <hr class="servicesDiv">
          
        <h2 class="marged">Screen Printing</h2>
  			  <p class="centerIt"><%= image_tag 'whatwedo/transfers.png', :alt => 'Web Design Tampa' %></p>
  				
  				<p>Heat applied transfer film, or custom screen-printed designs applied to your choice of material, and come in a wide range of textures and looks.</p> 
          
          <p>Custom designs are what we’re about! Have us create the design with your original idea or art work, send us your uploaded JPEG artwork to create a custom full-color design.</p>
           
          <p>Work from our "IDEA BOOK" with thousands of clip art designs and fonts available to create a custom look ideal media for sports teams, groups or clubs and business T-shirts!</p>
          
          <div class="centerIt"><%= image_tag 'oldsite/brittsecondfromright.jpg', :alt => 'Transfers' %> <%= image_tag 'oldsite/alyfarright.jpg', :alt => 'Transfers' %> <%= image_tag 'oldsite/veryleftfi.jpg', :alt => 'Transfers' %>
          ￼
          <h3>Contact us for more information and to quote your job!</h3>
          </div>
  				
  				
			</div>
		</div>
		</section>
		
	</div>
</section>